
<p> Test variables 
<br/> x: {{x}}
 <br/> myStudent.id now is: {{myStudent.id}}
 
 </p>
<div class="container">
    <h1>Student info Form</h1>
    <form>
      <div class="form-group">
        <label for="studentName">Student Name</label>
        <input type="text" name="studentName" class="form-control" 
         id="studentName" required
          >
      </div>

      <div class="form-group">
        <label for="studentid">Student ID </label>
        <input type="text" name="studentId" class="form-control" id="studentId" required>
      </div>

      <button type="submit" class="btn btn-success">Start Quiz</button>

 <div class="col-md-3 mb-3">
      <label for="validationCustom05">Zip</label>
      <input type="text" class="form-control" id="validationCustom05" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
    
    </form>
</div>